<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>652743105461-66080tfhlv0c9b6liakppd0ec94marq5.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.652743105461-66080tfhlv0c9b6liakppd0ec94marq5</string>
	<key>API_KEY</key>
	<string>AIzaSyAQpk8GAfTNmys3zoGK1H3WetjE36GW9lA</string>
	<key>GCM_SENDER_ID</key>
	<string>652743105461</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.flutterflow.edriveapp</string>
	<key>PROJECT_ID</key>
	<string>harvard-12ccd</string>
	<key>STORAGE_BUCKET</key>
	<string>harvard-12ccd.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:652743105461:ios:3fdf29f445f361431317fc</string>
</dict>
</plist>